@import "styles/var";
@import "styles/breakpoints";

.generalTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    td,
    th {
        border: 1px solid rgb(221, 221, 221);
        padding: 5px;
        text-align: center;
    }

    tr {
        transition: background-color 700ms;
        &:nth-child(even) {
            background-color: $backGroundTable;
        }
        &:hover {
            background-color: $hoverTable;
        }
    }

    @media (max-width: $desktop_xsm) {
        td,
        th {
            font-size: 12px;
        }
    }

    @media (max-width: $mobile) {
        td,
        th {
            font-size: 8px;
        }
    }
}

.late {
    color: $fontLate;
    font-weight: 550;
    .btnToday {
        color: $btnLate;
    }
}

.week {
    color: $fontWeek;
    font-weight: 600;
    .btnToday {
        color: $btnWeek;
    }
}
.hideItem {
    display: none;
}

.btnToday {
    cursor: pointer;
    color: #aaa;
    font-size: 22pt;

    @media (max-width: $desktop_xsm) {
        font-size: 18pt;
    }

    @media (max-width: $mobile) {
        font-size: 12pt;
    }
}

