.divMap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
};

.mapTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 22px;
    color: #3f51b5;
};

