
.trHead{
    
    th {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 12px;
        font-size: 16px;
        font-weight: 550;        
        text-align: left;
        background-color: rgb(61, 147, 233);
        color: white;
    }

}

/*#04AA6D;
rgb(26, 131, 235)
rgb(14, 103, 192)
*/