
.trHead{
    
    th {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 12px;
        
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }

}
