@import 'styles/var';
@import 'styles/breakpoints';

.areaContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: auto;  
    
    @media (max-width: $mobile) {

        max-width: 500px;
               
    }
    
}

.addArea {
    display: flex;
    margin-top: 30px;
    gap: 40px;
    width: 70%;
    justify-content: center;
    align-items: center;

}

.position {

    display: flex;
    margin-top: 30px;
    width: 70%;
    justify-content: center;
    align-items: center;

}

.areaTable{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 13pt;
    width: 70%;
    table-layout: auto;

    tr {
        margin: 90px 0;
        text-align: left;
    }
    td {
        text-align: left;
    }

    .name{
        min-width: 50px;
    }

    .tdCenterPosition {
        text-align: center;
        padding: 0px 20px;
    }
    .btnDelete {
        cursor: pointer;
        color: $tableBtn;
        font-size: 22pt;
    } 
    
    @media (max-width: $desktop_xsm) {
        
        td, th {
            font-size: 14px;
        }
        .btnDelete {
            
            font-size: 20pt;
        } 
        
    }
    
    @media (max-width: $mobile) {
        
        td, th {
            font-size: 12px;
        }
        .btnDelete {
            
            font-size: 17pt;
        } 
        
    }
    
    


}

.btnBackHome {
    margin: 40px 0px;
}

.textfield {

    @media (max-width: $mobile) {
        
        input {
            height: 25px;
            padding: 0px 10px;
            font-size: 10px;
        }
        label {
            height: 36px;
            top: -13px;
            font-size: 0.8em;
        }
        label[data-shrink="true"] {
            top: 0
          }
    }

    @media (max-width: $desktop_xsm) {
        
        input {
            height: 25px;
            padding: 0px 10px;
            font-size: 10px;
        }
        label {
            height: 36px;
            top: -13px;
            font-size: 0.8em;
        }
        label[data-shrink="true"] {
            top: 0
          }
    }
    
}

